allure-pytest
annotated-types
attrs
certifi
cffi
charset-normalizer
colorama
decorator
flake8
get_project_root
h11
idna
importlib-metadata
iniconfig
injector
jsonpath-ng
loguru
mccabe
outcome
packaging
pluggy
ply
pycodestyle
pycparser
pydantic
pyflakes
PySocks
pytest
pytest-xdist
python-dotenv
PyWebUIFramework==2.7
requests
selenium
six
sniffio
sortedcontainers
tqdm
trio
trio-websocket
typing-extensions
urllib3
webdriver-manager
win32-setctime
wsproto
zipp